.a-landing-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.a-landing-col-3 * img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

@media(max-width:30rem) {
  .a-landing-col-3 {
    grid-template-columns: 1fr;
  }
}

@media(max-width:40rem) {
  .a-landing-col-3 {
    grid-template-columns: 1fr 1fr;
  }
}