@use "sass:map";
:root{
  --bs-dark-rgb:black;
  --bs-bg-opacity: 1;
  --bs-light-rgb: white;
  --bs-text-opacity: 1;
}
$bgcolor: #fff;
$hrcolor: #1e7a46;
$herocolor: #777;
$lgvbgcolors: (
  1: transparent,
  2: #f6f6f6,
  3: #e5e5e5,
  4: linear-gradient(90deg, #6372ff, #5ca9fb),
  5: #f6f6f6,
  6: white,
  7: #f6f6f6,
  8: linear-gradient(90deg, #6372ff, #5ca9fb),
  9: white,
);
$lgvcolors: (
  1: white,
  2: #333,
  3: black,
  4: white,
  5: black,
  6: #888,
  7: #888,
  8: white,
  9: #888,
);
body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
  background: #777;
  height: 200vh;
}

main.a-landing-page {
  background: $herocolor;
  max-width: unset;
  width: 100%;
  // max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  display: block;
  box-sizing: border-box;
}
// .a-sections * h2 {
//   text-align: center;
//   text-transform: uppercase;
//   margin: 0 0 20px 0;
//   font-weight: 800;
//   font-size: 2.5rem;
//   position: relative;
//   margin-top: 10px;
//   margin-bottom: 15px;
//   padding-bottom: 15px;
//   line-height: 1.2;
//   display: block;
//   margin-block-start: 0.83em;
//   margin-block-end: 0.83em;
//   margin-inline-start: 0px;
//   margin-inline-end: 0px;
//   font-weight: bold;
// }
// .a-sections * h3 {
//   font-size: 2rem;
//   font-weight: 600;
// }
// .a-sections * h4 {
//   font-size: 1.5rem;
//   font-weight: 600;
// }
// .a-sections * h5 {
//   text-transform: uppercase;
//   font-weight: 700;
//   line-height: 20px;
// }

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: $hrcolor;
  margin-bottom: 20px;
  border: 0;
}
/*  */
.a-landing-page {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}
.a-landing-top {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 0.5rem; // TODO render variable
  background-color: white;
  // position: -webkit-sticky;
  // position: sticky;
  width: 100%;
  box-sizing: border-box;
}

@media(max-width: 30rem) {
  .a-landing-top {
    grid-template-columns: auto;
  }
}

a.a-landing-logo {
  text-decoration: none;
  font-size: calc(1.275rem + 0.3vw);
  box-sizing: border-box;
}
.a-landing-navmenu {
  gap: 0.5rem;
  justify-self: end;
}
div.a-landing-hero {
  text-align: center;
}
.a-landing-footer {
  //padding-top: 3rem;
  //padding-bottom: 3rem;
  text-align: left;
  //padding: 1em;
}
div.a-landing-section-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  //padding: 1em;
}
div.a-landing-colophon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  ;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.a-section-title h2 {
  // -webkit-margin-after: .3em;
  // margin-block-end: .3em;
  font-size: calc(1.7rem + 1.5vw);
  text-align: center;
  display: block;
  line-height: 1.2;
  margin: unset;
  font-weight: bold;
}
.a-header-heading * .a-section-title h2 {
  color: #fff;
  font-size: clamp(3.5rem,1rem + 6vw,6rem);
}

p.a-landing-subtitle {
  text-align: center;
  font-weight: unset;
  font-style: italic;
  margin-block-end: 0.3ex;
  font-size: calc(1.3rem + 1vw);
 
  margin-top: 0.2rem;
}
// .a-landing-top * p.a-landing-subtitle {
//   font-size: clamp(2rem, 1rem + 2vw, 3rem);
//   font-weight: 600;
//   text-align: center;
//   margin-top: 0;
//   margin-bottom: .5rem;
//   font-weight: 500;
//   line-height: 1.2;
// }
.a-header-heading * p.a-landing-subtitle {
  font-size: calc(1.7rem + 1.5vw);
}
.a-sections * p.a-landing-subtitle {
  // font-size: calc(1.3rem + .6vw);
  // //font-size: clamp(1.5rem, 1rem + 0.5vw, 2.5rem);
  // margin-top: 0;
  // margin-bottom: .5rem;
  // font-weight: 500;
  // line-height: 1.2;
}

.a-section-title {
  margin: 0.67em 0;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.a-header-heading * .a-section-title {
}




.a-header-heading * .a-landing-section-content p {
  font-size: 1.4rem;
}
// .a-landing-section-content * p {
//   // padding-top: 3rem;
//   // padding-bottom: 3rem;
//   padding-right: 1.5rem;
//   padding-left: 1.5rem;
//   margin-top: 2rem;
//   margin-bottom: 2rem;
//   margin-top: 0;
//   margin-bottom: 1rem;
//   box-sizing: border-box;
//   display: block;
// }
// .a-header-heading * .a-landing-section-content p {
//   font-size:  calc(1.2rem + 0.8vw);
// }
// .a-sections * .a-landing-section-content p {
//   font-size: larger;
// }



.a-homenav {
  justify-content: center;
  font-weight: bold;
  font-size: large;
  background: white;
  border-radius: 0.5rem;
  opacity: 75%;
}
/* Replacing Bootstrap Slowly */
.a-nav-pills .a-nav-link {
  background: 0 0;
  border: 0;
  border-radius: .25rem;
}
.a-nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.a-nav-pills .a-nav-link.active, .a-nav-pills .show>.a-nav-link {
  color: #fff;
  background-color: #0d6efd;
}
.a-nav-link {
  transition: none;
}
.a-nav {
  margin-block-start: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  gap: 0.5rem;
}
.a-nav-pills .a-nav-link.active, .a-nav-pills .show>.a-nav-link {
  color: #fff;
  background-color: #0d6efd;
}
.a-navbar-brand {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
/* Proton Configuratin */
#protonCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 200vh;
  top: 0px;
  left: 0;
  z-index: -1;
}
.a-sections * #section-header {
  color: map.get($lgvcolors, 1);
  text-align: center;
  // width: 70%;
  // margin-left: 15%;
}
.a-sections * #section-header p {
  color: map.get($lgvcolors, 1);
  // font-size: 22px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
/*
// #section-header h1 {
//   font-family: "Raleway", sans-serif;
//   font-size: clamp(3.5rem, 1rem + 6vw, 6rem);
//   font-weight: 700;
//   text-transform: uppercase;
//   margin-bottom: 10px;
// }
*/
.a-sections * .a-section-title {
  padding: 2rem; // TODO Fix
  margin: 2rem;
}

.a-sections * .a-section-title * h2 {
  text-align:center;
  position: relative;
  //margin-top: 10px;
  //margin-bottom: 15px;
  //padding-bottom: 15px;
  text-transform: uppercase;
  //margin: 0 0 20px 0;
  font-weight: 800;
  line-height: 1.2;
  display: block;
  // font-size: 1.5em;
  // margin-block-start: 0.83em;
  // margin-block-end: 0.83em;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
}
.a-sections * div.a-section-title {
  display: block;
}
.a-sections * .a-section-title {
  //margin-bottom: 70px;
}

.a-sections * .a-section-title::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  margin-left: -30px;
  left: 50%;
}

.a-landing-section {
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.a-landing-colors-0 {
  background: map.get($lgvbgcolors, 1);
  color: map.get($lgvcolors, 1);
}

.a-landing-colors-1 {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background: map.get($lgvbgcolors, 2);
  color: map.get($lgvcolors, 2);
}
.a-landing-colors-2 {
  background: map.get($lgvbgcolors, 3);
  color: map.get($lgvcolors, 3);
}
.a-landing-colors-3,
.a-landing-colors-3 a {
  background: map.get($lgvbgcolors, 4);
  color: map.get($lgvcolors, 4);
}
.a-landing-colors-4 {
  background: map.get($lgvbgcolors, 5);
  color: map.get($lgvcolors, 5);
}
.a-landing-colors-5 {
  /* background: transparent; */
  background: map.get($lgvbgcolors, 6);
  color: map.get($lgvcolors, 6);
}
.a-landing-colors-6 {
  background: map.get($lgvbgcolors, 7);
  color: map.get($lgvcolors, 7);
}
.a-landing-colors-7 {
  background: map.get($lgvbgcolors, 8);
  color: map.get($lgvcolors, 8);
}
.a-landing-colors-8 {
  /* background: transparent; */
  background: map.get($lgvbgcolors, 9);
  color: map.get($lgvcolors, 9);
}
/*
Not sure if I should keep this below
*/
div.two_col__column div.apos-area div.bp-rich-text {
  text-align: left;
}
/*  */
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  // font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #6372ff;
}
a.button:link,
a.button:active,
a.button:visited,
a.button {
  color: white;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Down Nav */
.a-landing-page-down-nav {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(1, 1fr);
  padding: 0;
  margin: 0;
  gap: 1rem;
}
@media (min-width: 40rem) {
  .a-landing-page-down-nav {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 80rem) {
  .a-landing-page-down-nav {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 120rem) {
  .a-landing-page-down-nav {
    grid-template-columns: repeat(4, 1fr);
  }
}
ul.a-landing-page-down-nav li {
  background: white;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem;
}
// .a-header-heading * .a-section-title {
//   -webkit-margin-after: .3em;
//   margin-block-end: .3em;
//   font-size: clamp(3.5rem,1rem + 6vw,6rem);
//   font-weight: bold;
// }
.a-header-heading {
  color: white;
}

