.a-landing-nav-logo {
  background: var(--color-canvas);
  white-space: nowrap;
  grid-area: logo;
  align-self: center;
  font-size: calc(1.275rem + 0.3vw);
  color: black;
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.25rem 0.25rem 0 0.25rem;
}
.a-landing-nav-tablist {
  list-style: none;
  background: var(--color-canvas);
  display: flex;
  grid-area: tablist;
  column-gap: 0.5rem;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 0.25rem;
  align-self: stretch;
}
// .a-landing-menu {
//   font-weight: bold;
//   padding-top: 13px;
//   text-align: center;
//   background: #343436;
//   color: var(--color-canvas);
//   border-radius: 30px;
//   height: 100px;
// }
.a-landing-nav-link.active {
  border-radius: 0.5rem 0.5rem 0 0;
  background: var(--color-canvas-inverted);
  color: var(--color-text-inverted);
  //font-weight: bold;
}
.a-landing-nav-link {
    // font-weight: bold;
    padding: 0.25rem 0.5rem;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}
.a-landing-submenu-area {
  grid-area: submenu;
  border-radius: .5rem .5rem 0 0;
  background: var(--color-canvas-inverted);
  color: var(--color-text-inverted);
  width: 100%;
  // height: 100%;
  // position: absolute;
}
.a-landing-nav-submenu {
  text-align: center;
  width: 100%;
  margin: auto;
  justify-content: center;
  // position: absolute;
  // bottom: 0.25em;
  display:flex;
  flex-wrap: wrap;
  align-self: stretch;
  justify-content: space-around;
}
.a-landing-nav-submenu a {
  color: var(--color-link-inverted);
  text-decoration: none;
}
.a-landing-nav {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-areas: "logo empty-white"
                       "logo tablist" 
                       "submenu submenu";
  background-color: var(--color-canvas);
  justify-items: center;
  // padding: 0rem 0.5rem;
  position: sticky;
  top: 0;
  align-items: end;
}

@media (max-width: 40rem) {
  .a-landing-nav {
  grid-template-areas: 
  "logo"
  "tablist" 
  "submenu";
  position: unset;
  grid-template-columns: unset;
  }
}
