.a-landing-nav {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-areas: "logo empty-white"
                       "logo tablist" 
                       "subtabs subtabs"
                       "submenu submenu"
                       "subsubmenu subsubmenu";
  // background-color: var(--color-canvas);
  justify-items: center;
  position: sticky;
  top: 0;
  align-items: end;
  background-color: var(--color-canvas);
}
@media (max-width: 40rem) {
  .a-landing-nav {
  grid-template-areas: 
  "logo"
  "tablist"
  "subtabs"
  "submenu" 
  "subsubmenu";
  position: unset;
  grid-template-columns: unset;
  }
}
.a-landing-nav-logo-outer {
  grid-area: logo;
}
.a-landing-nav-logo-inner,
a.a-landing-nav-logo-inner {
  background: var(--color-canvas);
  white-space: nowrap;
  align-self: center;
  font-size: calc(1.275rem + 0.3vw);
  color: var(--color-text-link);
  text-decoration: none;
  padding: 1rem 2rem 1rem 0.5rem;
  border-radius: 0.5em;
  line-height: 2em;
}
.a-landing-nav-logo-inner.active,
a.a-landing-nav-logo-inner.active {
  background: var(--color-canvas-inverted);
  color: var(--color-text-link-inverted);
}

.a-landing-nav-tablist {
  //list-style: none;
  // background: var(--color-canvas);
  display: flex;
  grid-area: tablist;
  column-gap: 0.5rem;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  //padding-top: 0.25rem;
  align-self: stretch;
  // border-style: none none solid none;
  // border-right-style: solid;
  // border-color: var(--color-canvas-inverted);
  //border-radius: 0 0 0 0.5rem;
  // border-color: var(--color-canvas-inverted);
  //border-style: none none solid;
  width: 100%;
  height: 100%;
  //background: white;
  align-items: flex-end;
}
.a-landing-nav-link,
a.a-landing-nav-link {
  // font-weight: bold;
  background: var(--color-canvas);
  color: var(--color-text-link);
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.a-landing-nav-link.active {
  background: var(--color-canvas-inverted);
  color: var(--color-text-link-inverted);
  //font-weight: bold;
}

.a-landing-submenu-area {
  grid-area: submenu;
  background: var(--color-canvas-inverted);
  color: var(--color-text-inverted);
  width: 100%;
}
.a-landing-nav-subtabs {
  list-style: none;
  //background: var(--color-canvas);
  display: flex;
  grid-area: subtabs;
  column-gap: 0.5rem;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  //padding-top: 0.25rem;
  align-self: stretch;
  // border-style: solid none solid none;
  // border-width: 2px;
  // border-color: var(--color-canvas-inverted);
}

.a-landing-nav-submenu {
  display:flex;
  flex-wrap: wrap;
  align-self: stretch;
  justify-content: space-between;
}
// .a-landing-nav-submenu a {
//   color: var(--color-link-inverted);
//   text-decoration: none;
// }

.empty-white {
  width: 100%;
  height: 100%;
  //background-color: var(--color-canvas);
  grid-area: empty-white;
}


