/* modules/two-column-widget/ui/src/styles.scss */
/*
.two-col {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.two-col__column {
  display: flex;
  flex-direction: column;
  flex: 1;
    padding-right: 15px;
    padding-left: 15px;
}
*/
