body {
    overflow-x: hidden; 
}
.line,
.box {
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.box {
  width: 10px;
  height: 10px;
  background: #777;
  margin: 3px 3px;
  display: inline-block;
}

.circle {
  width: 12px;
  height: 12px;
  margin: 3px;
  background: #777;
  border-radius: 50%;
  display: block;
}

.bento-menu-handle {
  z-index: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  > div {
    z-index: 400;
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover, &:focus {
      outline: none;
    }
  }
  > span {
    display: inline-block;
    text-align: center;
    line-height: 1.2;
    padding: 20px;
    margin-top: auto;
  }
}

.menu__item--bento {
  &:hover,
  &:focus {
    .box:nth-child(2),
    .box:nth-child(4),
    .box:nth-child(6),
    .box:nth-child(8) {
      opacity: 0;
    }
  }
}

.bento-menu-content {
  display: block;
  position: absolute;
  top: 60px;
  right: 60px;
  z-index: 300;
  text-align: center;
  
  
  background-color: #ededed;
  border-radius: 1rem;
  padding: 0.25rem;

  -webkit-user-select: none;
  user-select: none;

  > input {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }
  > input:checked ~ ul
  {
    transform: none;
    opacity: 1;
  }
  > ul li {
    padding: 10px 0;
    font-size: 1.5rem;
  }
  > ul {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  /*
   * And let's fade it in from the left
   */
}


  input.bento-check:checked ~ ul
  {
    transform: none;
    opacity: 1;
  }


@media screen and (max-width: 768px) {
  .menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}
