
.a-landing-footer {
  text-align: left;
}
div.a-landing-section-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
div.a-landing-colophon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}