$lgvbgcolors: (
  1: transparent,
  2: white,
  3: #f6f6f6,
  4: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%),
  5: white,
  6: #f6f6f6,
  7: white,
  8: linear-gradient(90deg, #6372ff, #5ca9fb),
  9: #f6f6f6
);
$lgvcolors: (
  1: white,
  2: #333333,
  3: #333333,
  4: white,
  5: #333333,
  6: #333333,
  7: #333333,
  8: white,
  9: #333333
);
$lgvhcolors: (
  1: white,
  2: #333333,
  3: #333333,
  4: white,
  5: #333333,
  6: #333333,
  7: #333333,
  8: white,
  9: #333333
);
$lgvpcolors: (
  1: white,
  2: #777,
  3: #777,
  4: rgba(255,255,255,0.75),
  5: #777,
  6: #777,
  7: #777,
  8: rgba(255,255,255,0.75),
  9: #777
);
@import 'footer';
@import 'nav';
@import 'proton';
body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: var(--color-brand-tertiary);
  margin-bottom: 20px;
  border: 0;
}
a {
  color: var(--color-text-link);
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.another-landing-image {
  max-height: 100%;
}