nav.another-landing {
  top: 0;
  width: 100%;
  position: fixed;
}
div.nav-menu-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--color-canvas);
  flex-wrap: wrap;
}
.a-landing-nav {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-areas: "logo empty-white"
                       "logo tablist" 
                       "subtabs subtabs";
  justify-items: center;
  align-items: end;
  margin-top: 1rem;
}
@media (max-width: 40rem) {
  .a-landing-nav {
    grid-template-areas: 
    "logo"
    "tablist"
    "subtabs";
    position: unset;
    grid-template-columns: unset;
  }
  .a-landing-submenu-area {
    position: unset;
  }
}
.a-landing-nav-logo-outer {
  grid-area: logo;
}
.a-landing-nav-logo-inner,
a.a-landing-nav-logo-inner {
  background: var(--color-canvas);
  color: var(--color-text-link);
  white-space: nowrap;
  align-self: center;
  font-size: calc(1.275rem + 0.3vw);
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.5em;
  line-height: 2em;
}
.a-landing-nav-logo-inner.active,
a.a-landing-nav-logo-inner.active {
  background: var(--color-canvas-inverted);
  color: var(--color-text-link-inverted);
}
.a-landing-nav-tablist {
  display: flex;
  grid-area: tablist;
  column-gap: 0.5rem;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-self: stretch;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}
.a-landing-nav-link,
a.a-landing-nav-link {
  background: var(--color-canvas);
  color: var(--color-text-link);
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.a-landing-nav-link.active,
.a-landing-nav-link:hover,
.a-landing-nav-link:active
 {
  background: var(--color-canvas-inverted);
  color: var(--color-text-link-inverted);
}
.a-landing-nav-link.current {
  background: unset;
  color: unset;
  font-weight: bold;
}
.a-landing-submenu-area,
.a-landing-subsubmenu-area {
  background: var(--color-canvas);
  width: 100%;
  margin-top: 1rem;
  top: 1rem;
}
.a-landing-submenu-area {
  position: sticky;
}
.a-landing-nav-subtabs {
  list-style: none;
  display: flex;
  grid-area: subtabs;
  column-gap: 0.5rem;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
}
.another-landing-nav-submenu {
  display:flex;
  height:fit-content;
  align-self:center;
  flex-wrap: wrap;
  align-self: stretch;
  justify-content: space-between;
  gap: 0.25rem;
}
.a-landing-subsubmenu-area .a-landing-nav-submenu {
  justify-content: start;
}
.empty-white {
  width: 100%;
  height: 100%;
  grid-area: empty-white;
}


