@use "sass:map";

$bgcolor: #fff;
$hrcolor: #1e7a46;
$herocolor: #777;
$lgvbgcolors: (
  1: transparent,
  2: #f6f6f6,
  3: #e5e5e5,
  4: linear-gradient(90deg, #6372ff, #5ca9fb),
  5: #f6f6f6,
  6: white,
  7: #f6f6f6,
  8: linear-gradient(90deg, #6372ff, #5ca9fb),
  9: white,
);
$lgvcolors: (
  1: white,
  2: #333,
  3: black,
  4: white,
  5: black,
  6: #888,
  7: #888,
  8: white,
  9: #888,
);
body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Downtown Elegance";
}
canvas {
  display: block;
  vertical-align: bottom;
  background: #777;
  height: 200vh;
}

main.lgvlanding {
  background: $herocolor;
  max-width: unset;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 800;
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: $hrcolor;
  margin-bottom: 20px;
  border: 0;
}
/*  */
div.landing-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}
div.landing-top {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #dee2e6;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
a.landing-logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
  text-decoration: none;
}
div.landing-navmenu {
  flex-direction: row-reverse;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
}
ul.landing-navmenu {
  gap: 0.5rem;
}
div.landing-roadsign {
  max-width: 80rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-sizing: border-box;
  text-align: center;
}
.landing-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: left;
}
div.landing-section-9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
div.landing-colophon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  ;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.landing-h1 {
  margin-block-end: 0.3em;
  font-size: clamp(3.5rem, 1rem + 6vw, 6rem);
  font-weight: bold;
}
p.landing-subtitle {
  text-align: center;
  font-size: clamp(2.5rem, 1rem + 3.5vw, 3.5rem);
  font-weight: bold;
  font-style: italic;
  margin-block-end: 0.3ex;
}d
.homenav {
  justify-content: center;
  font-weight: bold;
  font-size: large;
  background: white;
  border-radius: 0.5rem;
  opacity: 75%;
}
/* Proton Configuratin */
#protonCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 200vh;
  top: 0px;
  left: 0;
  z-index: -1;
}
#section1 {
  color: map.get($lgvcolors, 1);
  text-align: center;
  // width: 70%;
  // margin-left: 15%;
}
#section1 p {
  color: map.get($lgvcolors, 1);
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
/*
// #section1 h1 {
//   font-family: "Raleway", sans-serif;
//   font-size: clamp(3.5rem, 1rem + 6vw, 6rem);
//   font-weight: 700;
//   text-transform: uppercase;
//   margin-bottom: 10px;
// }
*/
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2::after,
.section-title h3::after,
.section-title h4::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.landing-section {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-section-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.landing-colors-1 {
  background: map.get($lgvbgcolors, 1);
  color: map.get($lgvcolors, 1);
}
.landing-colors-2 {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background: map.get($lgvbgcolors, 2);
  color: map.get($lgvcolors, 2);
}
.landing-colors-3 {
  background: map.get($lgvbgcolors, 3);
  color: map.get($lgvcolors, 3);
}
.landing-colors-4,
.landing-colors-4 a {
  background: map.get($lgvbgcolors, 4);
  color: map.get($lgvcolors, 4);
}
.landing-colors-5 {
  background: map.get($lgvbgcolors, 5);
  color: map.get($lgvcolors, 5);
}
.landing-colors-6 {
  /* background: transparent; */
  background: map.get($lgvbgcolors, 6);
  color: map.get($lgvcolors, 6);
}
.landing-colors-7 {
  background: map.get($lgvbgcolors, 7);
  color: map.get($lgvcolors, 7);
}
.landing-colors-8 {
  background: map.get($lgvbgcolors, 8);
  color: map.get($lgvcolors, 8);
}
.landing-colors-9 {
  /* background: transparent; */
  background: map.get($lgvbgcolors, 9);
  color: map.get($lgvcolors, 9);
}
/*
Not sure if I should keep this below
*/
div.two_col__column div.apos-area div.bp-rich-text {
  text-align: left;
}
/*  */
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #6372ff;
}
a.button:link,
a.button:active,
a.button:visited,
a.button {
  color: white;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Down Nav */
.down-nav {
  display: grid;
  list-style-type: none;
  // grid-template-columns: repeat(1, 1fr);
  padding: 0;
  margin: 0;
  gap: 1rem;
}
@media (min-width: 7em) {
  .down-nav {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 14em) {
  .down-nav {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 21em) {
  .down-nav {
    grid-template-columns: repeat(4, 1fr);
  }
}
ul.down-nav li {
  background: white;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem;
}