$bgcolor: #fff;
$hrcolor: #1e7a46;

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  width: 100%;
  height: 100%;
}
.page-voisine * h1, .page-voisine * h2, .page-voisine * h3, .page-voisine * h4, .page-voisine * h5, .page-voisine * h6 {
  font-family: "Raleway", sans-serif;
}
.page-voisine * .nav {
  margin-left: 1rem;
  margin-right: 1rem;
}
.page-voisine * .header {
  margin-block: 2.5rem;
  margin-inline: 0rem;
}
.page-voisine * .h1 {
  margin-block-end: 0.3em;
  font-size: clamp(2.5rem, 1rem + 4vw, 4rem);
}
.page-voisine * p.subtitle {
  text-align: center;
  font-size: clamp(2rem, 1rem + 2.5vw, 3.5rem);
  font-weight: bold;
  font-style: italic;
  margin-block-end: 0.3ex;
}
.main {
  background: $bgcolor;
  max-width: unset;
  margin-block: 3rem;
  margin-inline: 1rem;
}
.page-voisine * h2 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 800;
  font-size: 36px;
}
.page-voisine * h3 {
  font-size: 20px;
  font-weight: 600;
}
.page-voisine * h4 {
  font-size: 18px;
  font-weight: 600;
}
.page-voisine * h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
.page-voisine * p {
  font-size: 15px;
}
.page-voisine * hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: $hrcolor;
  margin-bottom: 20px;
  border: 0;
}
/* footer */
.page-voisine * .footer {
  margin-block: 3rem;
  margin-inline: 1rem;
}
/* Breadcrumb */
.page-voisine * .breadcrumb {
  display: flex;
  flex-wrap: wrap;
}
.page-voisine * nav.breadcrumb {
  justify-content: space-between;
}
.page-voisine * ul.breadcrumb {
  gap: 0.25rem;
}
.page-voisine * ul.breadcrumb li {
  display: inline;
  border: 0;
  margin: 0;
}
.page-voisine * .breadcrumb li:not(:first-child)::before {
  content: ">";
}
.page-voisine * .breadcrumb_arrow li:not(:first-child)::before {
  content: "→";
}
.page-voisine * .breadcrumb_slash li:not(:first-child)::before {
  content: "/";
}
.page-voisine * .breadcrumb_pipe li:not(:first-child)::before {
  content: "|";
}
.page-voisine * .breadcrumb ul li:first-child::before {
  content: "";
}
/* Down Nav */
.page-voisine * .down-nav {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(1, 1fr);
  padding: 0;
  margin: 0;
  gap: 1rem;
}

@media (min-width: 80rem) {
  .page-voisine *   .down-nav {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 120rem) {
  .page-voisine * .down-nav {
    grid-template-columns: repeat(3, 1fr);
  }
}

.page-voisine * ul.down-nav li {
  background: white;
  border-radius: 0.5rem;
}
