$bgcolor: #fff;
$hrcolor: #1e7a46;

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  width: 100%;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
.nav {
  margin-left: 1rem;
  margin-right: 1rem;
}
.header {
  margin-block: 2.5rem;
  margin-inline: 0rem;
}
.h1 {
  margin-block-end: 0.3em;
}
p.subtitle {
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  margin-block-end: 0.3ex;
}
.main {
  background: $bgcolor;
  max-width: unset;
  margin-block: 3rem;
  margin-inline: 1rem;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 800;
  font-size: 36px;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
h4 {
  font-size: 18px;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: $hrcolor;
  margin-bottom: 20px;
  border: 0;
}
/* footer */
.footer {
  margin-block: 3rem;
  margin-inline: 1rem;
}
/* Breadcrumb */
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
}
nav.breadcrumb {
  justify-content: space-between;
}
ul.breadcrumb {
  gap: 0.25rem;
}
ul.breadcrumb li {
  display: inline;
  border: 0;
  margin: 0;
}
.breadcrumb li:not(:first-child)::before {
  content: ">";
}
.breadcrumb_arrow li:not(:first-child)::before {
  content: "→";
}
.breadcrumb_slash li:not(:first-child)::before {
  content: "/";
}
.breadcrumb_pipe li:not(:first-child)::before {
  content: "|";
}
.breadcrumb ul li:first-child::before {
  content: "";
}
/* Down Nav */
.down-nav {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(1, 1fr);
  padding: 0;
  margin: 0;
  gap: 1rem;
}

@media (min-width: 80rem) {
  .down-nav {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 120rem) {
  .down-nav {
    grid-template-columns: repeat(3, 1fr);
  }
}

ul.down-nav li {
  background: white;
  border-radius: 0.5rem;
}
