{% if data.widget.heading or data.widget.content %}
<div class="landing-section landing-colors-{{ data.widget.style }} {{ data.widget.identifier }}" id="{{ data.widget.identifier }}">
  <div style="width:100%;">
  {% if data.widget.heading %}
    <div class="section-title">
      <h2 style="font-weight: 800;">{{ data.widget.heading }}</h2>
    </div>
  {% endif %}
  {% if data.widget.subHeading %}
  <p class="landing-subtitle">{{ data.widget.subHeading}}</p>
  {% endif %}
  {% if data.widget.content %}
    <div class="landing-section-content">
      {% area data.widget, 'content' %}
    </div>
  {% endif %}
  </div>
</div>
{% endif %}