{# Automatically extends the right outer layout and also handles AJAX situations
#} 
{% extends data.outerLayout %} 
{% block startHead %} 
{{ super() }}
<!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
<link rel="stylesheet" href="/fonts/fa/all.min.css">

{# {%  if data.isDev %} #}  {# For live reload #} 
{# <link href="http://localhost:9002/wp/site.css" rel="stylesheet" /> #}
{# {% endif %} #} 
<style> {{ data.page.extracss }} </style>
{% endblock %} 

{% block beforeMain %}
    <nav class="breadcrumb">
      <ul class="breadcrumb breadcrumb_arrow">
        {% set nottop = true %}
        {% for uppage in data.page._ancestors %}
        {% if nottop %}
        {% if data.page.type == "lagrandepage" %}
        {% set nottop = false %}
        {% endif %}
        <li>
          <a href="{{ uppage._url }}">{{ uppage.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li>
          <strong>{{ data.page.title }}</strong>
        </li>
      </ul>
    
      {% if data.page._children|length()%}
      <ul class="breadcrumb breadcrumb_pipe">
        {# 👇 Referencing `data.page._children` and looping over them. #}
        {% for downpage in data.page._children %}
        <li>
          <a href="{{ downpage._url }}">{{ downpage.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    
      <ul class="breadcrumb breadcrumb_pipe">
        {% for locale in data.localizations %}
        {% if data.page.locale == locale %}
        <li><strong>{{ locale.label }}</strong></li>
        {% else %}
        <li><a href="{{ locale._url }}">{{ locale.label }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <header class="header">
      <h1 class="h1">{{ data.page.title }}</h1>
      {% if data.page.subtitle %}
      <p class="subtitle">{{ data.page.subtitle}}</p>
      {% endif %}
    </header>

  {% endblock %} 

{% block main %} {# Usually, your page templates in the
    @apostrophecms/pages module will override this block. It is safe to assume
    this is where your page-specific content should go. #} 
{% endblock %} 

{% block afterMain %}
</main>
  <footer class="footer">
    {% area data.page, 'footer' %}
  </footer>
{% endblock %} 