{# Automatically extends the right outer layout and also handles AJAX siutations
#} 
{% extends data.outerLayout %} 
{% block startHead %} 
{{ super() }}
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/fonts/fa/all.min.css">

<style>{{ data.page.extracss }}</style>
{% endblock %} 

{% block beforeMain %}
    <header>
      <h1>{{ data.page.title }}</h1>
      {% if data.page.subtitle %}
      <p>{{ data.page.subtitle }}</p>
      {% endif %}
    </header>
    <nav>
          <ul class="breadcrumb">
            {% for uppage in data.page._ancestors %}
            <li>
              <a href="{{ uppage._url }}">{{ uppage.title }}</a>
            </li>
            {% endfor %}
            <li>
             {{ data.page.title }}
              {% if data.page._children|length()%}
                <ul class="breadcrumb">
                {# 👇 Referencing `data.page._children` and looping over them. #}
                {% for downpage in data.page._children %}
                <li>
                  <a href="{{ downpage._url }}">{{ downpage.title }}</a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          </ul>
              <ul class="breadcrumb">
                {% for locale in data.localizations %}
                <li><a class="dropdown-item" href="{{ locale._url }}">{{ locale.label }}</a></li>
                {% endfor %}
              </ul>
    </nav>

  {% endblock %} 

{% block main %} {# Usually, your page templates in the
    @apostrophecms/pages module will override this block. It is safe to assume
    this is where your page-specific content should go. #} 
{% endblock %} 

{% block afterMain %}
</main>
  <footer>
    {% area data.page, 'footer' %}
  </footer>
{% endblock %} 