@use "sass:map";

@import 'unbootstrap';

$lgvbgcolors: (
  1: transparent,
  2: white,
  3: #f6f6f6,
  4: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%),
  5: white,
  6: #f6f6f6,
  7: white,
  8: linear-gradient(90deg, #6372ff, #5ca9fb),
  9: #f6f6f6
);
$lgvcolors: (
  1: white,
  2: #333333,
  3: #333333,
  4: white,
  5: #333333,
  6: #333333,
  7: #333333,
  8: white,
  9: #333333
);
$lgvhcolors: (
  1: white,
  2: #333333,
  3: #333333,
  4: white,
  5: #333333,
  6: #333333,
  7: #333333,
  8: white,
  9: #333333
);
$lgvpcolors: (
  1: white,
  2: #777,
  3: #777,
  4: rgba(255,255,255,0.75),
  5: #777,
  6: #777,
  7: #777,
  8: rgba(255,255,255,0.75),
  9: #777
);
.a-landing-section-content * p {
  line-height: 1.4em;
  font-size: large;
}
.a-section-title {
   margin: 0.67em 0;
   margin-bottom: 1rem;
}
.a-section-title h2 {
  font-size: calc(1.7rem + 1.5vw);
  text-align: center;
  display: block;
  margin: unset;
  font-weight: bold;
  text-transform: uppercase;
}
header.another-landing-page {
  background: map.get($lgvbgcolors, 1);
  color: map.get($lgvcolors, 1);
  }
main div.a-landing-section::nth-child(1) {
  background: map.get($lgvbgcolors, 2);
  color: map.get($lgvcolors, 2);
  }
 main div.a-landing-section::nth-child(2) {
  background: map.get($lgvbgcolors, 3);
  color: map.get($lgvcolors, 3);
  }
 main div.a-landing-section::nth-child(3) {
  background: map.get($lgvbgcolors, 4);
  color: map.get($lgvcolors, 4);
  }
 main div.a-landing-section::nth-child(4) {
  background: map.get($lgvbgcolors, 5);
  color: map.get($lgvcolors, 5);
  }
 main div.a-landing-section::nth-child(5) {
  background: map.get($lgvbgcolors, 6);
  color: map.get($lgvcolors, 6);
  }
 main div.a-landing-section::nth-child(6) {
  background: map.get($lgvbgcolors, 7);
  color: map.get($lgvcolors, 7);
  }
 main div.a-landing-section::nth-child(7) {
  background: map.get($lgvbgcolors, 8);
  color: map.get($lgvcolors, 8);
  }
 main div.a-landing-section::nth-child(8) {
  background: map.get($lgvbgcolors, 9);
  color: map.get($lgvcolors, 9);
  }  
 footer.a-landing-section {
  background: map.get($lgvbgcolors, 9);
  color: map.get($lgvcolors, 9);
  }  
header.a-landing-section p,
header.a-landing-section li {
  color: map.get($lgvpcolors, 1);
}
footer.a-landing-section p,
footer.a-landing-section li {
  color: map.get($lgvpcolors, 9);
}
main div.a-landing-section::nth-child(1) p,
main div.a-landing-section::nth-child(1) li {
  color: map.get($lgvpcolors, 2);
}
main div.a-landing-section::nth-child(2) p,
main div.a-landing-section::nth-child(2) li {
  color: map.get($lgvpcolors, 3);
}
main div.a-landing-section::nth-child(3) p,
main div.a-landing-section::nth-child(3) li {
  color: map.get($lgvpcolors, 4);
}
main div.a-landing-section::nth-child(4) p,
main div.a-landing-section::nth-child(4) li {
  color: map.get($lgvpcolors, 5);
}
main div.a-landing-section::nth-child(5) p,
main div.a-landing-section::nth-child(5) li {
  color: map.get($lgvpcolors, 6);
}
main div.a-landing-section::nth-child(6) p,
main div.a-landing-section::nth-child(6) li {
  color: map.get($lgvpcolors, 7);
}
main div.a-landing-section::nth-child(7) p,
main div.a-landing-section::nth-child(7) li {
  color: map.get($lgvpcolors, 8);
}
header.a-landing-section h {
  color: map.get($lgvhcolors, 1);
}
footer.a-landing-section h {
  color: map.get($lgvhcolors, 9);
}
main div.a-landing-section::nth-child(1) h {
  color: map.get($lgvhcolors, 2);
}
main div.a-landing-section::nth-child(2) h {
  color: map.get($lgvhcolors, 3);
}
main div.a-landing-section::nth-child(3) h {
  color: map.get($lgvhcolors, 4);
}
main div.a-landing-section::nth-child(4) h {
  color: map.get($lgvhcolors, 5);
}
main div.a-landing-section::nth-child(5) h {
  color: map.get($lgvhcolors, 6);
}
main div.a-landing-section::nth-child(6) h {
  color: map.get($lgvhcolors, 7);
}
main div.a-landing-section::nth-child(7) h {
  color: map.get($lgvhcolors, 8);
}
// .a-landing-section-content ul {
//   list-style: none;
//   display: block;
//   list-style-type: disc;
//   margin-block-start: 1em;
//   margin-block-end: 1em;
//   margin-inline-start: 0px;
//   margin-inline-end: 0px;
//   padding-inline-start: 40px;
// }
// .a-landing-section-content li {
//   margin-bottom: 6px;
//   margin-left: 6px;
//   list-style: none;
//   padding: 0;
// }
// .a-landing-section-content li::before {
//   content: '\f00c';
//   font-family: 'FontAwesome';
//   color: #5ca9fb;
//   font-size: 11px;
//   font-weight: 300;
//   padding-right: 8px;
// }

.a-landing-section-content li {

}