@use "sass:map";

/* @import 'unbootstrap'; */

$lgvbgcolors: (
  1: transparent,
  2: white,
  3: #f6f6f6,
  4: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%),
  5: white,
  6: #f6f6f6,
  7: white,
  8: linear-gradient(90deg, #6372ff, #5ca9fb),
  9: #f6f6f6
);
$lgvcolors: (
  1: white,
  2: #333333,
  3: #333333,
  4: white,
  5: #333333,
  6: #333333,
  7: #333333,
  8: white,
  9: #333333
);
$lgvhcolors: (
  1: white,
  2: #333333,
  3: #333333,
  4: white,
  5: #333333,
  6: #333333,
  7: #333333,
  8: white,
  9: #333333
);
$lgvpcolors: (
  1: white,
  2: #777,
  3: #777,
  4: rgba(255,255,255,0.75),
  5: #777,
  6: #777,
  7: #777,
  8: rgba(255,255,255,0.75),
  9: #777
);
.a-landing-section-content * p {
  line-height: 1.4em;
  font-size: large;
}
.a-section-title {
   margin: 0.67em 0;
   margin-bottom: 1rem;
}
.a-section-title h2 {
  font-size: calc(1.7rem + 1.5vw);
  text-align: center;
  display: block;
  margin: unset;
  font-weight: bold;
  text-transform: uppercase;
}

header.another-landing-page h2 {
	color: var(--color-canvas);
	font-size: clamp(3.5rem, 1rem + 6vw, 6rem);
}

.a-landing-section h2 {
	font-size: calc(1.7rem + 1.5vw);
	text-align: center;
	display: block;
	margin: unset;
	font-weight: bold;
	text-transform: uppercase;
}

span.section-subheading {
	text-align: center;
	font-weight: unset;
	font-style: italic;
	-webkit-margin-after: 0.3ex;
	margin-block-end: 0.3ex;
	font-size: calc(1.3rem + 1vw);
	margin-top: 0.2rem;
}

span.section.subheading::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	height: 4px;
	width: 60px;
	margin-left: -30px;
	left: 50%;
}

header.another-landing-page {
  background: map.get($lgvbgcolors, 1);
  color: map.get($lgvcolors, 1);
  }
main.another-landing-page div.a-landing-section:nth-of-type(1) {
  background: map.get($lgvbgcolors, 2);
  color: map.get($lgvcolors, 2);
  }
 main.another-landing-page div.a-landing-section:nth-of-type(2) {
  background: map.get($lgvbgcolors, 3);
  color: map.get($lgvcolors, 3);
  }
 main.another-landing-page div.a-landing-section:nth-of-type(3) {
  background: map.get($lgvbgcolors, 4);
  color: map.get($lgvcolors, 4);
  }
 main.another-landing-page div.a-landing-section:nth-of-type(4) {
  background: map.get($lgvbgcolors, 5);
  color: map.get($lgvcolors, 5);
  }
 main.another-landing-page div.a-landing-section:nth-of-type(5) {
  background: map.get($lgvbgcolors, 6);
  color: map.get($lgvcolors, 6);
  }
 main.another-landing-page div.a-landing-section:nth-of-type(6) {
  background: map.get($lgvbgcolors, 7);
  color: map.get($lgvcolors, 7);
  }
 main.another-landing-page div.a-landing-section:nth-of-type(7) {
  background: map.get($lgvbgcolors, 8);
  color: map.get($lgvcolors, 8);
  }
 main.another-landing-page div.a-landing-section:nth-of-type(8) {
  background: map.get($lgvbgcolors, 9);
  color: map.get($lgvcolors, 9);
  }  
 footer.a-landing-section {
  background: map.get($lgvbgcolors, 9);
  color: map.get($lgvcolors, 9);
  }  
header.a-landing-section p,
header.a-landing-section li {
  color: map.get($lgvpcolors, 1);
}
footer.a-landing-section p,
footer.a-landing-section li {
  color: map.get($lgvpcolors, 9);
}
main.another-landing-page div.a-landing-section:nth-of-type(1) p,
main.another-landing-page div.a-landing-section:nth-of-type(1) li {
  color: map.get($lgvpcolors, 2);
}
main.another-landing-page div.a-landing-section:nth-of-type(2) p,
main.another-landing-page div.a-landing-section:nth-of-type(2) li {
  color: map.get($lgvpcolors, 3);
}
main.another-landing-page div.a-landing-section:nth-of-type(3) p,
main.another-landing-page div.a-landing-section:nth-of-type(3) li {
  color: map.get($lgvpcolors, 4);
}
main.another-landing-page div.a-landing-section:nth-of-type(4) p,
main.another-landing-page div.a-landing-section:nth-of-type(4) li {
  color: map.get($lgvpcolors, 5);
}
main.another-landing-page div.a-landing-section:nth-of-type(5) p,
main.another-landing-page div.a-landing-section:nth-of-type(5) li {
  color: map.get($lgvpcolors, 6);
}
main.another-landing-page div.a-landing-section:nth-of-type(6) p,
main.another-landing-page div.a-landing-section:nth-of-type(6) li {
  color: map.get($lgvpcolors, 7);
}
main.another-landing-page div.a-landing-section:nth-of-type(7) p,
main.another-landing-page div.a-landing-section:nth-of-type(7) li {
  color: map.get($lgvpcolors, 8);
}
header.another-landing-section h {
  color: map.get($lgvhcolors, 1);
}
footer.another-landing-section h {
  color: map.get($lgvhcolors, 9);
}
main.another-landing-page div.a-landing-section:nth-of-type(1) h {
  color: map.get($lgvhcolors, 2);
}
main.another-landing-page div.a-landing-section:nth-of-type(2) h {
  color: map.get($lgvhcolors, 3);
}
main.another-landing-page div.a-landing-section:nth-of-type(3) h {
  color: map.get($lgvhcolors, 4);
}
main.another-landing-page div.a-landing-section:nth-of-type(4) h {
  color: map.get($lgvhcolors, 5);
}
main.another-landing-page div.a-landing-section:nth-of-type(5) h {
  color: map.get($lgvhcolors, 6);
}
main.another-landing-page div.a-landing-section:nth-of-type(6) h {
  color: map.get($lgvhcolors, 7);
}
main.another-landing-page div.a-landing-section:nth-of-type(7) h {
  color: map.get($lgvhcolors, 8);
}
.a-landing-section {
  padding: 1rem;
}